@model EmployeeManagementMVC.Models.DashboardViewModel

    
    <div class="container py-5">

        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="text-primary">Employee Dashboard</h2>

            <a asp-action="Index" class="btn btn-outline-primary">
                Employee List
            </a>
        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="card shadow border-0 bg-primary text-white mb-3">
                    <div class="card-body">
                        <h5>Total Employees 👥</h5>
                        <h2>@Model.TotalEmployees</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-success text-white mb-3">
                    <div class="card-body">
                        <h5>IT Employees</h5>
                        <h2>@Model.TotalITEmployees</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-warning text-dark mb-3">
                    <div class="card-body">
                        <h5>HR Employees</h5>
                        <h2>@Model.TotalHREmployees</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-danger text-white mb-3">
                    <div class="card-body">
                        <h5>Finance Employees</h5>
                        <h2>@Model.TotalFinanceEmployees</h2>
                    </div>
                </div>
            </div>

        </div>

        <a asp-action="Index" class="btn btn-secondary">
            Back to Employee List
        </a>

    </div>

