@model EmployeeManagementMVC.Models.Employee

<div class="card mt-4">
    <div class="card-header bg-primary text-white">
        <h3>Employee Details</h3>
    </div>

    <div class="card-body">

        <p><strong>Id :</strong> @Model.EmployeeId</p>

        <p><strong>Name :</strong> @Model.EmployeeName</p>

        <p><strong>Department :</strong> @Model.Department?.DepartmentName</p>

        <p><strong>Salary :</strong> @Model.Salary</p>

    </div>

    <div class="card-footer">

        <a asp-action="Index" class="btn btn-secondary">
            Back
        </a>

    </div>
</div>